*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    
}

.navbar{
    width: 100%;
    height: 4rem;
    background: rgb(25, 7, 36);
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

.navbar ul li{
    list-style: none;

}

.page ul{
    display: flex;
    gap:1.5rem;
}

a{
    text-decoration: none;
    color:rgb(246, 202, 202);
    text-transform: capitalize;
}




.container{
    width: 100%;
    height: 90vh;
    display: flex;
    gap:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-color{
    background: #000;
    color:rgb(210, 178, 178);
    padding:1rem 1rem;
    border-radius: 7px;
}

.click-btn button{
    width:130px;
    padding:7px 20px;
    border:2px solid rgb(40, 36, 36);
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}


